body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg_photo.jpg');
    background-size: cover;
    min-height: 100vh;
    /* This is the  COMMENT!!!*/
}

.main-container {
    width: 100%;
    min-width: 1200px;
    min-height: 650px;
}
.calendar-container,
.dude-board-header,
.dude-board-content {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #00a8fc;
}

.calendar-container {
    width: 45%;
    min-width: 550px;
    float: left;
}

.dude-board-header {
    margin-bottom: 0;
    background-color: #00a8fc;
    text-align: center;
}

.dude-board-content{
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    min-height: 450px;
}
.dude-board-header,
.dude-board-content {
    width: 40%;
    min-width: 300px;
    float: right;
}

.dude-board-header h3 {
    font-family: 'LatoWeb';
    padding: 0;
    margin: 0;
    color: white;
}

.ui-button,
.libre-matches {
    font-family: 'LatoWeb', sans-serif !important;
    font-style: normal;
}
.libre-matches {
    border-bottom: 1px solid #00a8fc;
    padding: 15px;
}

.button-holder span,
.dude-matches {
    color: #00a8fc;
    font-size: 18px;
    margin-right: 20px;
}

.calendar-container h2,
.modal h3 {
    font-size: 28px;
}

.calendar-container h2,
th span, .ui-widget,
a.fc-day-number,
.modal,
.modal h3 {
    font-family: 'LatoWeb', sans-serif !important;
    font-style: normal;
    font-weight: lighter;
    color: #00a8fc;
}

.modal {
    border: 2px solid #00a8fc;
}

.edit-label {
    width: 120px !important;
}

div.controls.edit-control,
#editWhen.controls {
    margin-left: 160px;
}

#editEventModal {
    width: 600px;
}

#inputActivity {
    width: 330px;
}
/*
.ui-widget-content.fc-today,
.ui-state-highlight span {
    background-color: #f2f9fc !important;
}
*/
.fc-content {
     background-color: #00a8fc;
}
.header {
    height: 80px;
    border-top: 1px solid #00a8fc;
    border-bottom: 1px solid #00a8fc;
    background-color: white;
    margin-bottom: 30px;
}
.header img {
    height: 50px;
}
.button-holder {
    padding: 20px;
}

.button-holder.right {
    float: right
}

.footer {
    height: 80px;
    background-color: #4d4e4f;
    margin: 0 auto;
    clear: both;
}

.header img {
    margin: 10px 10px;
}

.header img {
    margin: 10px 10px;
}

#login-container {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    min-height: 300px;
    min-width: 550px;
    border: 1px solid #00a8fc;
    background-color: white;
    z-index: 100;
}

#myModal {
    display: none;
}

#login-label {
    padding: 5px;
    padding-left: 15px;
    color: #00a8fc;
    font-family: 'LatoWeb';
    width: 100%;
}

#login-left-box {
    float: left;
}

#login-right-box {
    float: right;
    font-family: 'LatoWeb';
    text-align: right;
    padding-right: 15px;
}

.login-box {
    padding: 5px;
    padding-left: 20px;
    padding-bottom: 0px;
    font-family: 'LatoWeb';
    font-size: 15px;
}

.login-fields {
    
}

#register-username {
    margin-left: 10px;
    float: left;
}

#register-password {
    margin-left: 40px;
    float: left;
}

#register-email {
    margin-left: 10px;
    float: left;
    clear: right;
}

#register-firstname {
    margin-left: 10px;
    clear: left;
    float: left;
}

#register-lastname {
    margin-left: 40px;
    float: left;
}

#myModal {
    border: 2px solid #00a8fc;
    font-family: 'LatoWeb';
}

#modal-title-head {
    color: #00a8fc;
}
